footer {
	position: fixed;
	width: 100%;
	height: 120px;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #dfe6ed;
	border: 1px solid #9eadba;
}

a {
	display: flex;
}

input {
	width: 100%;
	height: 52px;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	margin-bottom: 10px;
}

input::placeholder {
	font-style: italic;
	font-size: 18px;
}

form {
	width: 100%;
	padding: 0px 24px;
	margin-bottom: 140px;
}

button {
	width: 100%;
	height: 42px;
	background: #e8833a;
	border-radius: 3px;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.schedules {
	margin: 0px 24px 150px 0px;
}

.session-date {
	display: flex;
	flex-wrap: wrap;
	margin-left: 24px;
	margin-bottom: 24px;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	color: #293845;
}

.session-date > span {
	width: 100%;
}

.buttons {
	width: 84px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 20px 10px 0px 0px;
	background: #e8833a;
	border-radius: 3px;
	color: #ffffff;
	font-size: 18px;
}

.footer-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 90px;
	background: #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

.footer-image > img {
	width: 50px;
	height: 72px;
}

.footer-title {
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: #293845;
	margin-left: 22px;
}

.footer-content {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.available {
	width: 26px;
	height: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 9px 3px;
	font-size: 11px;
	line-height: 13px;
	background-color: #c3cfd9;
	border-radius: 12px;
	cursor: pointer;
}

.selected {
	width: 26px;
	height: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 9px 3px;
	font-size: 11px;
	background-color: #8dd7cf;
	border: 1px solid #1aae9e;
	border-radius: 12px;
	cursor: pointer;
}

.unavailable {
	width: 26px;
	height: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 9px 3px;
	font-size: 11px;
	line-height: 13px;
	background-color: #fbe192;
	border: 1px solid #f7c52b;
	border-radius: 12px;
	cursor: pointer;
}

.seats {
	padding: 0px 24px;
}

.input {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

.success-content {
	width: 80%;
	margin: auto;
}

.success-content button {
	width: 100%;
	margin-top: 76px;
}

.success-title {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	color: #247a6b;
}

.success-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	padding-top: 35px;

	color: #293845;
}

.success-text {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #293845;
}

.success-button {
}
